[submodule "profiling/nvidia-performance-tools"]
	path = profiling/nvidia-performance-tools
	url = https://github.com/cwpearson/nvidia-performance-tools.git
[submodule "tutorials/gpubootcamp"]
	path = tutorials/gpubootcamp
	url = https://github.com/gpuhackathons-org/gpubootcamp
[submodule "TensorRT/trt-samples-for-hackathon-cn"]
	path = TensorRT/trt-samples-for-hackathon-cn
	url = https://github.com/NVIDIA/trt-samples-for-hackathon-cn
[submodule "CUDA/mini-nbody"]
	path = CUDA/mini-nbody
	url = https://github.com/harrism/mini-nbody.git
[submodule "CUDA/gtc2017-numba"]
	path = CUDA/gtc2017-numba
	url = https://github.com/ContinuumIO/gtc2017-numba.git
[submodule "pytorch/pytorch-parallel"]
	path = pytorch/pytorch-parallel
	url = https://github.com/tczhangzhi/pytorch-parallel.git
